<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>后台管理页面</title>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" th:href="@{/css/mainbody.css}"/>
    <link rel="stylesheet" th:href="@{/css/manage/public.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery3.5.1.js}"></script>
</head>
<body>
<p class="p-title" style="margin-bottom: 0px">后台管理页面</p>
<div class="main">
    <div class="left-ui">
        <div class="mainbody-title">
            <a href="">
                <span>信息修改</span><br>
                <i>UPDATE</i>
            </a>
        </div>
        <div class="mainbody-left">
            <h3><a href="/manage/index.html">
                商品信息
                <i class="glyphicon glyphicon-chevron-right"></i>
            </a></h3>
            <h3><a href="/mNav">
                导航栏信息
                <i class="glyphicon glyphicon-chevron-right"></i>
            </a></h3>
            <h3><a href="/mSide">
                侧栏导航信息
                <i class="glyphicon glyphicon-chevron-right"></i>
            </a></h3>
            <h3><a href="/mCompany">
                公司信息
                <i class="glyphicon glyphicon-chevron-right"></i>
            </a></h3>
            <h3><a href="/mBanner">
                轮播图信息
                <i class="glyphicon glyphicon-chevron-right"></i>
            </a></h3>
            <h3><a href="/mScore">
                业绩信息
                <i class="glyphicon glyphicon-chevron-right"></i>
            </a></h3>
            <h3><a href="/mNews">
                新闻和技术支持
                <i class="glyphicon glyphicon-chevron-right"></i>
            </a></h3>
            <h3><a href="/mHonor">
                荣誉资质
                <i class="glyphicon glyphicon-chevron-right"></i>
            </a></h3>

        </div>
        <div class="mainbody-title">
            <span class="context">24小时咨询热线</span>
            <span class="context" th:text="${session.company.getCyPhone()}"></span>
        </div>
    </div>
    <div class="right-ui">
        <div class="right-mainbody">
            <div class="dec row main index-right">
                <h2 class="h2-title">荣誉资质修改</h2>
                <form th:each="honor,status:${session.honors}" class="mForm" action="/updateHonor" enctype="multipart/form-data" method="post">
                    <input name="id" type="text" th:value="${honor.getId()}" hidden="hidden">
                    <img th:src="'images/honor/'+${honor.getImgName()}" width="300px" height="300px">
                    <input type="file" name="image" accept="image/*">
                    <input type="text" name="imgKind" th:value="${honor.getImgKind()}" hidden="hidden">
                    <button type="submit" class="btn btn-success">修改</button>
                </form>
                <form class="mForm" action="/updateEwm" enctype="multipart/form-data" method="post">
                    <input name="id" type="text" th:value="${session.ewm.getId()}" hidden="hidden">
                    <img th:src="'images/ewm/'+${session.ewm.getImgName()}" width="300px" height="300px">
                    <input type="file" name="image" accept="image/*">
                    <input type="text" name="imgKind" th:value="${session.ewm.getImgKind()}" hidden="hidden">
                    <button type="submit" class="btn btn-success">修改</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>