<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆页面</title>
    <link rel="stylesheet" href="./css/index.css"/>
    <link rel="stylesheet" href="./css/mainbody.css"/>
    <link rel="stylesheet" href="./css/manage/public.css"/>
    <link rel="stylesheet" href="./css/bootstrap.min.css"/>
</head>
<body>
<p class="p-title">登&nbsp;&nbsp;&nbsp;录</p>
<div class="main">
    <div class="row main login">
        <form class="form-inline" action="toIndex" method="post" style="width: 100%">
            <div class="form-group row">
                <div class="text-center text-title"><label style="line-height: 30px">账号:</label></div>
                <div class="text-input"><input type="text" class="form-control" name="username" placeholder="输入账号"></div>
            </div><br>
            <div class="form-group row">
                <div class="text-center text-title"><label style="line-height: 30px">密码:</label></div>
                <div class="text-input"><input type="password" class="form-control" name="password" placeholder="输入密码"></div>
            </div><br>
            <div>
                <button type="button" class="btn btn-default"><a>注册</a></button>
                <button type="submit" class="btn btn-primary">登录</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>